/* Reset geral */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Definir cores */
:root {
    --primary-color: #F5CF06;
    --secondary-color: #8E4106;
}

/* Body */
body {
    height: 100vh;
    background-color: var(--primary-color);
    transition: background-color 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    font-family: 'Righteous', cursive;
    padding: 0 10px; /* Adicionado padding nas laterais */
}

/* Container principal */
.list {
    position: relative;
    height: 100%;
    flex-grow: 1;
    overflow: hidden;
}

/* Itens da lista */
.item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
}

.item.active {
    opacity: 1;
    position: relative;
    z-index: 10;
}

/* Container */
.container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 90vw;
    margin: auto;
    flex-grow: 1;
}

/* Cabeçalho */
header {
    margin-top: 70px;
}

header a {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    gap: 16px;
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 2rem;
}

/* Título */
.title {
    position: relative;
    grid-column: 1 / -1;
    place-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.title__text {
    font-size: clamp(80px, 20vw, 200px);
    color: #fff;
}

.title__transparent {
    position: absolute;
    top: -50%;
    font-size: clamp(100px, 27vw, 300px);
    color: #fff5;
    z-index: -1;
}

/* Descrição */
.description {
    grid-column: 1 / 7;
    place-self: start;
    color: var(--secondary-color);
    z-index: 1;
    padding-top: 50px;
}

.description__title {
    font-size: clamp(2rem, 4vw, 4rem);
}

.description__text {
    max-width: 500px;
    font-size: clamp(1rem, 1.2vw, 1.2rem);
}

/* Ação */
.action {
    grid-column: 7 / -1;
    place-self: start end;
    height: 100px;
    width: clamp(250px, 30vw, 411px);
    background-color: var(--secondary-color);
    color: #fff;
    font-size: clamp(2rem, 3vw, 3rem);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-top: 50px;
}

/* Rodapé */
footer {
    width: 100%;
}

.footer__text {
    grid-column: 1 / -1;
    place-self: center;
    padding: 24px 0;
    color: var(--secondary-color);
    font-size: 1rem;
    text-align: center;
}

/* Imagem Pokémon */
.pokemon-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    height: auto;
    max-height: 80%;
    z-index: 5;
}

/* Setas */
.arrow {
    position: absolute;
    top: 50%;
    width: 90vw;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    z-index: 20;
}

.arrow button {
    background: var(--secondary-color);
    color: white;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 2rem;
    line-height: 1;
    border-radius: 50%;
    transition: background-color 0.5s;
}

/* Media Queries */
@media (max-width:1024px) {
    .description__title {
        font-size: clamp(3rem, 5vw, 4rem);
    }
}

@media (max-width:960px) {
    .container {
        grid-template-columns: 1fr;
        padding-bottom: 100px;
    }

    header {
        margin-top: 30px;
    }

    .title {
        place-self: start center;
        transform: translateY(10%);
        margin-top: 0;
    }

    .description {
        grid-column: 1;
        grid-row: 2;
        place-self: center;
        text-align: center;
        padding-top: 0;
        margin-top: 50px;
    }

    .description__text {
        max-width: 90vw;
    }

    .action {
        grid-column: 1;
        grid-row: 2;
        place-self: end center;
        margin-bottom: 24px;
        width: 90vw;
        margin-top: 0;
        height: 80px;
    }

    .footer__text {
        padding: 15px 0;
    }
}


@media (max-width:640px) {
    header {
        margin-top: 20px;
    }

    .description__title {
        font-size: 8vw;
        margin-top: -25px;
    }

    .description__text {
        display: none;
    }

    .action {
        font-size: 8vw;
        height: 70px;
    }

    .pokemon-image {
        width: 80vw;
        margin-top: -50px
    }

    .arrow button {
        padding: 10px 15px;
        font-size: 1.5rem;
    }
}