body {
  background-color: rgb(214, 234, 252);
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

header {
  background-color: #00237c;
  padding: 20px;
  margin: 0px;
  border: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul {
  list-style-type: none;
}
header li {
  display: inline-block;
  margin: 10px;
  background-color: #00237c;
  padding: 10px 30px 10px 30px;
  border-radius: 50px;
  border: 0px;
  border: solid 3px #6390f0;
}

header li:hover {
  border: solid 3px #001aff;
  cursor: pointer;
}

header a {
  text-decoration: none;
  color: #9ab4eb;
  font-weight: 500;
}

header img {
  width: 250px;
}

.noticia {
  display: flex;
  height: 20%;
  flex-direction: center;
  margin-top: 30px;
  width: 90%;
  align-items: center;
  padding: 20px;
  margin-left: 100px;
}

.noticia1{
    display: flex;
    justify-content: center;
    width: 70%;
    flex-direction: column;
    margin-right: -50px
}

.noticia-img1 {
  width: 90%;
}

.noticia-img2 {
  width: 100%;
}

.noticia-img3 {
  width: 100%;
}

.noticia2{
    gap: 20px;
    display: flex;
    justify-content: flex-end;
    width: 30%;
    flex-direction: column;
}

.pokemon-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  text-align: center;
}

.eletrico {
  background-color: #F4E412;
  border-radius: 10px;
  width: 300px;
  height: 300px;
  cursor: pointer;
}

.eletrico-img {
  background-color: #f3e301;
  border-radius: 500px;
  width: 200px;
  height: 200px;
  top: 40px;
  bottom: -40;
  position: relative;
  cursor: pointer;
  transition: 0.1s;
}

.eletrico-img:hover{
  top: -40px;
  bottom: 40px;
  transition: 0.1s;}

.fogo {
  background-color: #E6482D;
  border-radius: 10px;
  width: 300px;
  height: 300px;
  cursor: pointer;
}

.fogo-img {
  border-radius: 500px;
  width: 200px;
  height: 200px;
  top: 40px;
  bottom: -40;
  position: relative;
  cursor: pointer;
  transition: 0.1s;
}

.fogo-img:hover{
  top: -40px;
  bottom: 40px;
  transition: 0.1s;}


.agua {
  background-color: #217FC5;
  border-radius: 10px;
  width: 300px;
  height: 300px;
  cursor: pointer;
}

.agua-img {
  border-radius: 500px;
  width: 200px;
  height: 200px;
  top: 40px;
  bottom: -40;
  position: relative;
  cursor: pointer;
  transition: 0.1s;
}

.agua-img:hover{
  top: -40px;
  bottom: 40px;
  transition: 0.1s;}

.normal{
  background-color: #efc3ca;
  border-radius: 10px;
  width: 300px;
  height: 300px;
  cursor: pointer;
}
.normal-img {
  border-radius: 500px;
  width: 200px;
  height: 200px;
  top: 40px;
  bottom: -40;
  position: relative;
  cursor: pointer;
  transition: 0.1s;
}
.normal-img:hover{
  top: -40px;
  bottom: 40px;
  transition: 0.1s;}

footer {
  background-color: #00237c;
  color: #9ab4eb;
  text-align: center;
  padding: 10px 0;
  position: relative;
 top: 100px;
  width: 100%;
}