body {
  background-color: rgb(214, 234, 252);
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

header {
  background-color: #00237c;
  padding: 20px;
  margin: 0px;
  border: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul {
  list-style-type: none;
}
header li {
  display: inline-block;
  margin: 10px;
  background-color: #00237c;
  padding: 10px 30px 10px 30px;
  border-radius: 50px;
  border: 0px;
  border: solid 3px #6390f0;
}

header li:hover {
  border: solid 3px #001aff;
  cursor: pointer;
}

header a {
  text-decoration: none;
  color: #9ab4eb;
  font-weight: 500;
}

header img {
  width: 250px;
}

.dev h1{
  color: #00237c;
  text-align: center;
}
.cardDev{
  padding: 10px;
  border-radius: 15px;
  border: solid 4px #9CB8FF;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 500px;
  width: 400px;
}
.cardDev:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
  transition: all 0.3s ease;
}

.cardName #part1, #part2{
  color: #00237c;
  font-weight: bold;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardDev img {
  width: 100%;
  height: 80%;
  border-radius: 10px;
  object-fit: cover;
}
.cardDev h2 {
    text-align: center;
    font-size: 1.5em;
    margin-top: 45px;
}
footer {
  background-color: #00237c;
  color: #9ab4eb;
  text-align: center;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
}